@(width: Integer, height: Integer, bricks: List[de.luma.breakout.view.web.helpers.HtmlHelper.HtmlBrick], balls: List[de.luma.breakout.view.web.helpers.HtmlHelper.HtmlBrick], score: Int, highScore: Int)

<b>High Score: @highScore</b> <b>Current Score: @score</b>
<div class="GameGridContainer" style="width: @(width)px; height: @(height)px">
	@for(brick <- bricks) {			
		<div class="Brick" style="left: @(brick.x)px; top: @(brick.y)px; width: @(brick.width)px;height: @(brick.height)px; background-color: @brick.color">&nbsp;</div>
	}
	@for(ball <- balls) {
		<div class="Ball" style="left: @(ball.x)px; top: @(ball.y)px; width: @(ball.width)px;height: @(ball.height)px; background-color: white; border-radius: @(ball.width / 2)px">&nbsp;</div>
	}	
</div>