@(title: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>@title</title>    
   	<script src="@routes.Assets.at("js/jquery-1.10.1.min.js")"></script>
   	<script src="@routes.Assets.at("js/jquery-ui.js")"></script>
   	<script src="@routes.Assets.at("js/bootstrap.min.js")"></script>	
	<link rel="stylesheet" href="@routes.Assets.at("style/bootstrap.min.css")">
	<link rel="stylesheet" href="@routes.Assets.at("style/bootstrap-theme.min.css")">
	<link rel="stylesheet" href="@routes.Assets.at("style/jquery-ui.css")">
	<link rel="stylesheet" href="@routes.Assets.at("style/main.css")">
	<link rel="icon" href="@routes.Assets.at("images/favicon.jpg")" type="image/jpeg">
</head>
<body>
	<br /><br />
	<center><img src="@routes.Assets.at("images/breakout_logo.png")" /></center><br />

	@content
</body>
</html>

